h2, ion-text {
  text-align: center;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
  margin: 15px 0 15px 25px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}
.container-center {
  text-align: center;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

footer {
  background-color: #6096b8;
  color: #fff;
  padding: 40px 0;
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.footer-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-content p {
  font-size: 16px;
  line-height: 1.5;
}

.socials {
  list-style: none;
  padding: 10;
  margin-top: 0;
  // font-size: small;
}

.socials li {
  display: inline-block;
  margin-right: 10px;
  font-size: large;
  
}

.socials a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

.socials a:hover {
  color: #030609;
}


.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  color: #fff;
}

.ion-text-center {
  text-align: center;
  font-size: xx-large;
}
