<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">About us</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <h2>
      we are a Student assistance website
    </h2>
    <p>
      In today's dynamic educational landscape, the demand for a comprehensive and user-friendly platform that empowers students has never been more critical. This proposal outlines the creation of a student assistance website that goes beyond traditional study materials.</p>
    <h2>
      our vision
    </h2>
    <p>
      Our vision is to establish a vibrant online community that connects students, fosters collaboration, offers personalized tutoring, facilitates virtual study sessions, and assists in effective study schedule management. The core theme of the website, "Learning Network Nexus," underlines our commitment to student success through collective support and accessible resources.
    </p>


    <h2>
      Serving University learners
    </h2>
    <p>
      Institutions thrive in the face of change when student success is at the core. We provide innovative and flexible technologies and services that enable institutions to drive student success throughout the entire student journey.
    </p>


    <h2 style="text-align:center">Our Team</h2>
    <div class="container-center">
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/handsome-young-businessman-suit.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Lawrence Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/user3.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/user2.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Jane Fritz</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</div>
  </ion-text>
</ion-content>
