<ion-header class="ion-hide-lg-down">
    <ion-toolbar>
      <ion-title slot="start">
        <a routerLink="/home/study-material" routerLinkActive="active" style="color: white; text-decoration: none;">
          BOB
        </a>
      </ion-title>
  
      <ion-buttons slot="start" class="center-items">
        <!-- <ion-button routerLink="/home/dashboard" routerLinkActive="active">Home</ion-button> -->
        <ion-button routerLink="/home/study-material" routerLinkActive="active">Study material</ion-button>
        <!-- <ion-button routerLink="/home/schedules" routerLinkActive="active">Schedules</ion-button> -->
        <ion-button routerLink="/home/tutor-alumni" routerLinkActive="active">Tutors/Alumni</ion-button>
        <!-- <ion-button routerLink="/home/study-groups" routerLinkActive="active">Study groups</ion-button> -->
        <ion-button routerLink="/home/support-and-help" routerLinkActive="active">Support and help</ion-button>
        <ion-button routerLink="/home/about" routerLinkActive="active">About</ion-button>
      </ion-buttons>
  
      <ion-buttons slot="end" *ngIf="!showProfile">
        <ion-button routerLink="/register" routerLinkActive="active">Register</ion-button>
        <ion-button routerLink="/login" routerLinkActive="active">Login</ion-button>
      </ion-buttons>
      <ion-buttons *ngIf="showProfile" slot="end">
        <ion-chip>
          {{profile.displayName}}
          <ion-avatar>
            <ion-img [src]="profile.profileURL"></ion-img>
          </ion-avatar>
        </ion-chip>
        <ion-button (click)="signOut()">
          <ion-icon name="exit-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <!-- sorry -->
    </ion-toolbar>
  </ion-header>
  
  
  
  <!-- small screen view -->
  
  <ion-header class="ion-hide-lg-up">
    <ion-toolbar>
      <ion-title class="ion-text-center">
        <a routerLink="/home/study-material" routerLinkActive="active" style="color: white; text-decoration: none;">
          BOB
        </a>
      </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!-- 
      <ion-buttons slot="end" *ngIf="!showProfile">
        <ion-button routerLink="/register" routerLinkActive="active">Register</ion-button>
        <ion-button routerLink="/login" routerLinkActive="active">Login</ion-button>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="showProfile">
        <ion-chip>
          {{"John"}}
          <ion-avatar class="user-avatar">
            <ion-img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"></ion-img>
          </ion-avatar>
        </ion-chip>
        <ion-button (click)="signOut()">
          <ion-icon name="exit-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
       -->
    </ion-toolbar>
  </ion-header>

  <!-- sorry again -->
  
  
  <ion-menu contentId="main-content" [swipeGesture]="true" class="ion-hide-lg-up" #menu>
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-list>
          <!-- <ion-item routerLink="/home/dashboard" routerLinkActive="active">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Home</ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item> -->
          <ion-item routerLink="/home/study-material" routerLinkActive="active">
            <ion-icon slot="start" name="book"></ion-icon>
            <ion-label>Study material</ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item>
          <!-- <ion-item routerLink="/home/schedules" routerLinkActive="active">
            <ion-icon slot="start" name="calendar"></ion-icon>
            <ion-label>Schedules</ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item> -->
          <ion-item routerLink="/home/tutor-alumni" routerLinkActive="active">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>Tutors/Alumni</ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item>
          <!-- <ion-item routerLink="/home/study-groups" routerLinkActive="active">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>Study groups</ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item> -->
          <ion-item routerLink="/home/support-and-help" routerLinkActive="active">
            <ion-icon slot="start" name="help"></ion-icon>
            <ion-label>Support and help</ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item>
          <ion-item routerLink="/home/about" routerLinkActive="active">
            <ion-icon slot="start" name="information-circle"></ion-icon>
            <ion-label>About</ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item>
        </ion-list>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-content [fullscreen]="true" id="home-content">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>