.demo-inline-calendar-card {
  width: 100%;
  // margin: 0 auto;
  // border-radius: 10px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.demo-inline-calendar-card ion-card-content {
  padding: 20px;
}

.demo-inline-calendar-card ion-card-subtitle {
  display: flex;
  flex-direction: column;
}

.demo-inline-calendar-card ion-label {
  margin-bottom: 10px;
}

.demo-inline-calendar-card ion-textarea {
  width: 100%;
  // padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.demo-inline-calendar-card input[type="file"] {
  margin-top: 10px;
}

.demo-inline-calendar-card ion-button {
  margin-top: 10px;
  width: 100%;
}
