.inner-wrapper {
   width: 80%;
   margin: auto;
}

@media screen and (max-width: 800px) {
  .inner-wrapper {
    width: 100%;
  }
}

.right-side {
  float: left;
  width: 30%;
  height: 100%;
}

.calendar-container {
  width: fit-content;
  margin: auto;
}

.events-container {
  height: 100%;
}

ion-card:hover {
  transform: translateY(-4px);
}

.quick-access-card {
  height: fit-content;
  background-color: transparent;
  box-shadow: none;
  width: 100%;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-label{
  font-size: 3rem;
  font-weight: bold;
}

ion-card {
  min-width: 100px;
  min-height: 100px;
}

.date-time-container {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  opacity: 0.6;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-row {
  margin: 10px 0;
}

ion-card {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

ion-card-header {
  font-weight: bold;
  display: flex;
  align-items: center;
}

ion-icon {
  margin-right: 8px;
  font-size:  3rem;
}

.swiper-container {
  margin: 10px 0;
}

.swiper-card {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

ion-card-header, ion-title {
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(107, 198, 190, 0.325);
  background: linear-gradient(90deg);
  background-clip: text; 
  // -webkit-text-fill-color: transparent;
}

footer {
  background-color: #6096b8;
  color: #fff;
  padding: 40px 0;
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.footer-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-content p {
  font-size: 16px;
  line-height: 1.5;
}

.socials {
  list-style: none;
  padding: 10;
  margin-top: 0;
  // font-size: small;
}

.socials li {
  display: inline-block;
  margin-right: 10px;
  font-size: large;
  
}

.socials a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

.socials a:hover {
  color: #030609;
}


.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  color: #fff;
}

.ion-text-center {
  text-align: center;
  font-size: xx-large;
}