<ion-content [fullscreen]="true">
  <div class="outer-wrapper">
    <div class="inner-wrapper">
      <div class="img-container">
        <ion-card class="date-time-container">
          <div class="background-image">
            <img src="assets/education_picture.jpg" alt="Education Background" />
          </div>
          <div class="time-container">
            <ion-label class="time-label">{{ currentTime }}</ion-label>
          </div>
          <div class="date-container">
            <ion-label class="date-label">{{ currentDate }}</ion-label>
          </div>
        </ion-card>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-title>Quick Access</ion-title>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <ion-card routerLink="/home/study-material" class="swiper-card">
              <ion-card-header>
                <ion-icon name="book"></ion-icon> 
                <ion-label class="card-item-label">Study Material</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <ion-card routerLink="/home/tutorials" class="swiper-card">
              <ion-card-header>
                <ion-icon name="videocam"></ion-icon> 
                <ion-label class="card-item-label">Tutorials</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <ion-card routerLink="/home/study-material" class="swiper-card">
              <ion-card-header>
                <ion-icon name="barbell"></ion-icon> 
                <ion-label class="card-item-label">Exercises</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <ion-card class="events-card" routerLink="/home/schedules">
              <ion-card-header>
                <ion-icon name="calendar"></ion-icon> 
                <ion-label class="card-item-label">Upcoming Events</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <ion-card routerLink="/home/schedules" class="events-card">
              <ion-card-header>
                <ion-icon name="list"></ion-icon> 
                <ion-label class="card-item-label">Tasks</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <ion-card routerLink="/home/study-groups" class="notifications-card">
              <ion-card-header>
                <ion-icon name="people"></ion-icon> 
                <ion-label class="card-item-label">Study Groups</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-stretch">
          <ion-col size="12">
            <ion-title>Preferences Settings</ion-title>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card routerLink="/" class="quick-setting-card">
              <ion-card-header>
                <ion-icon name="color-palette"></ion-icon> 
                <ion-label class="card-item-label">Theme</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card routerLink="/" class="quick-setting-card">
              <ion-card-header>
                <ion-icon name="notifications"></ion-icon> 
                <ion-label class="card-item-label">Notifications</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card routerLink="/" class="profile-setting-card">
              <ion-card-header>
                <ion-icon name="person"></ion-icon> 
                <ion-label class="card-item-label">Personal Info</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card routerLink="/" class="profile-setting-card">
              <ion-card-header>
                <ion-icon name="lock-closed"></ion-icon> 
                <ion-label class="card-item-label">Security</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>        
      </ion-grid>
    </div>

  <footer>
    <div class="footer-content">
      <h3>BOB</h3>
      <p>BOB is a platform that aims to provide a seamless learning experience for students. 
        It is a one-stop-shop for all your learning needs, including study materials, study groups, 
        tutors, and support. BOB is your companion in your learning journey, empowering you to 
        achieve your goals and stand out.</p>
        <ul class="socials">
          <li>
            <a href="https://www.facebook.com/">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com/">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>
        </ul>        
    </div>
    <div class="footer-bottom">
      <p>© BOB 2023 | Designed by BOB Team</p>
    </div>
  </footer>

</ion-content>