<ion-content [fullscreen]="true">
  <div class="outer-wrapper">
    <div class="inner-wrapper">
      <div class="img-container">
        <ion-card class="date-time-container">
          <div class="background-image">
            <img src="assets/education_picture.jpg" alt="Education Background" />
          </div>
          <div class="time-container">
            <ion-label class="time-label">{{ currentTime }}</ion-label>
          </div>
          <div class="date-container">
            <ion-label class="date-label">{{ currentDate }}</ion-label>
          </div>
        </ion-card>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-title>Quick Access</ion-title>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <ion-card routerLink="/home/study-material" class="swiper-card">
              <ion-card-header>
                <ion-icon name="book"></ion-icon> 
                <ion-label class="card-item-label">Study Material</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <ion-card routerLink="/home/tutorials" class="swiper-card">
              <ion-card-header>
                <ion-icon name="videocam"></ion-icon> 
                <ion-label class="card-item-label">Tutorials</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <ion-card routerLink="/home/study-material" class="swiper-card">
              <ion-card-header>
                <ion-icon name="barbell"></ion-icon> 
                <ion-label class="card-item-label">Exercises</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <ion-card class="events-card" routerLink="/home/schedules">
              <ion-card-header>
                <ion-icon name="calendar"></ion-icon> 
                <ion-label class="card-item-label">Upcoming Events</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <ion-card routerLink="/home/schedules" class="events-card">
              <ion-card-header>
                <ion-icon name="list"></ion-icon> 
                <ion-label class="card-item-label">Tasks</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <ion-card routerLink="/home/study-groups" class="notifications-card">
              <ion-card-header>
                <ion-icon name="people"></ion-icon> 
                <ion-label class="card-item-label">Study Groups</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-stretch">
          <ion-col size="12">
            <ion-title>Preferences Settings</ion-title>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card routerLink="/" class="quick-setting-card">
              <ion-card-header>
                <ion-icon name="color-palette"></ion-icon> 
                <ion-label class="card-item-label">Theme</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card routerLink="/" class="quick-setting-card">
              <ion-card-header>
                <ion-icon name="notifications"></ion-icon> 
                <ion-label class="card-item-label">Notifications</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card routerLink="/" class="profile-setting-card">
              <ion-card-header>
                <ion-icon name="person"></ion-icon> 
                <ion-label class="card-item-label">Personal Info</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="3">
            <ion-card routerLink="/" class="profile-setting-card">
              <ion-card-header>
                <ion-icon name="lock-closed"></ion-icon> 
                <ion-label class="card-item-label">Security</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>        
      </ion-grid>
    </div>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</ion-content>