<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Angela Mathebula</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni2.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Mutzhila Donngi</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni3.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Brandon James</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni4.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>David Kaula</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <footer>
    <div class="footer-content">
      <h3>BOB</h3>
      <p>BOB is a platform that aims to provide a seamless learning experience for students. 
        It is a one-stop-shop for all your learning needs, including study materials, study groups, 
        tutors, and support. BOB is your companion in your learning journey, empowering you to 
        achieve your goals and stand out.</p>
        <ul class="socials">
          <li>
            <a href="https://www.facebook.com/">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com/">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>
        </ul>        
    </div>
    <div class="footer-bottom">
      <p>© BOB 2023 | Designed by BOB Team</p>
    </div>
  </footer>
  
</ion-content>