<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Angela Mathebula</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni2.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Mutzhila Donngi</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni3.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Brandon James</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni4.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>David Kaula</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
