<ion-header>
  <ion-toolbar>
    <ion-title>Book A Session</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="custom-modal-content" *ngIf="!isLoading">
  <div class="flex-container">
    <div class="flex-item calendar">
      <ion-item>
        <ion-card class="demo-inline-calendar-card">
          <mat-calendar [minDate]="minDate" [maxDate]="maxDate" [selected]="selected"></mat-calendar>
        </ion-card>
      </ion-item>
      
    </div>

    <div class="flex-item subject">
      
      <mat-form-field >
        <mat-label>Choose Subject</mat-label>
        <mat-select [(ngModel)]="selectedSubject"> 
          <mat-option *ngFor="let subject of tutor.subjects" [value]="subject">
            {{ subject }}
          </mat-option>
        </mat-select>
      </mat-form-field> 
      
      <mat-form-field >
        <mat-label>Choose Duration</mat-label>
        <mat-select [(ngModel)]="selectedDuration"> 
          <mat-option *ngFor="let duration of durations" [value]="duration">
            {{ duration }} hr (s)
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>
</ion-content>
