<ion-content [fullscreen]="true" class="not-padding register-page">
  <div class="outer-wrapper">
    <ion-card class="box-form">
      <div class="left">
        <div class="overlay">
          <h1>Hello!</h1>
          <p>Your academic journey is important to us, we're here to provide you with the support and resources you
            need.</p>
          <div class="social-buttons-container">
            <p class="social-buttons-header">Login with social media</p>
            <ion-buttons class="ion-padding">
              <ion-button expand="full" fill="clear" class="social-button">
                <ion-icon name="logo-facebook"></ion-icon>
                <ion-label>Facebook</ion-label>
              </ion-button>
              <ion-button expand="full" fill="clear" class="social-button">
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-label>Twitter</ion-label>
              </ion-button>
              <ion-button expand="full" fill="clear" class="social-button">
                <ion-icon name="logo-google"></ion-icon>
                <ion-label>Google</ion-label>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
      </div>
  
  
      <div class="right">
        <div class="inputs" style="min-width: 350px;">
          <h5 class="right-header">Register</h5>
          <p>Have an account? 
            <span class="login-router" routerLink="/login">Login to Your Account</span>
          </p>
          <ion-item class="ion-margin-top">
            <ion-label position="floating">
              Email
            </ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          
          <ion-item class="ion-margin-top">
            <ion-label position="floating">
              Password
            </ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          
          <ion-item class="ion-margin-top" lines="none">
            <ion-label class="ion-text-wrap">Remember me</ion-label>
            <ion-checkbox slot="start" class="custom-checkbox"></ion-checkbox>
          </ion-item>
          <ion-button class="ion-margin-top custom-button">Sign Up</ion-button>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>