<ion-content [fullscreen]="true" class="not-padding register-page">
  
  <section>
    <div class="imgBx">
      <ion-img src="assets/svg/register.png"></ion-img>
    </div>
    <div class="contentBx">
      <div class="formBx">
        <h2>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="ion-padding">
          <ion-item class="input-item">
            <ion-label position="floating">Email</ion-label>
            <ion-input 
              type="email"
              name="email"
              formControlName="email"
              required
              [ngClass]="{'invalid-input': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}"
            ></ion-input>
            <!-- <div class="error-message" *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
              Email is required
            </div>
            <div class="error-message" *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
              Invalid email format
            </div> -->
          </ion-item>
      
          <ion-item class="input-item">
            <ion-label position="floating">Password</ion-label>
            <ion-input 
              type="password"
              name="password"
              formControlName="password"
              required
              [ngClass]="{'invalid-input': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}"
            ></ion-input>
            <!-- <div class="error-message" *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
              Password is required
            </div>
            <div class="error-message" *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched">
              Password must be at least 8 characters long
            </div>
            <div class="error-message" *ngIf="registerForm.get('password')?.hasError('maxlength') && registerForm.get('password')?.touched">
              Password must be less than 25 characters
            </div> -->
          </ion-item>
      
          <ion-item class="input-item">
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input 
              type="password"
              name="password"
              formControlName="cpassword"
              required
              [ngClass]="{'invalid-input': registerForm.get('cpassword')?.invalid && registerForm.get('cpassword')?.touched}"
            ></ion-input>
            <!-- <div class="error-message" *ngIf="registerForm.get('cpassword')?.hasError('required') && registerForm.get('cpassword')?.touched">
              Confirm Password is required
            </div>
            <div class="error-message" *ngIf="registerForm.get('cpassword')?.hasError('minlength') && registerForm.get('cpassword')?.touched">
              Confirm Password must be at least 8 characters long
            </div>
            <div class="error-message" *ngIf="registerForm.get('cpassword')?.hasError('maxlength') && registerForm.get('cpassword')?.touched">
              Confirm Password must be less than 25 characters
            </div> -->
          </ion-item>
      
          <ion-button expand="block" class="custom-button auth-button" type="submit">
            Register
          </ion-button>
        </form>
        <h3>Sign up with social media</h3>
        <ul class="sci">
          <li><a routerLink="/home/dashboard"><ion-img src="assets/icon/facebook.png"></ion-img></a></li>
          <li><a routerLink="/home/dashboard"><ion-img src="assets/icon/twitter.png"></ion-img></a></li>
          <li><a routerLink="/home/dashboard"><ion-img src="assets/icon/instagram.png"></ion-img></a></li>
          <li><a routerLink="/home/dashboard"><ion-img src="assets/icon/google.png"></ion-img></a></li>
        </ul>
      </div>    
    </div>
  </section>
</ion-content>