<ion-header>
  <ion-toolbar>
    <ion-title>BOB</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/register" routerLinkActive="active">Register</ion-button>
      <ion-button routerLink="/login" routerLinkActive="active">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="hero">
    <div class="hero-content">
      <h1>Welcome to BOB</h1>
      <p>Access interactive support, empower your learning journey, and stand out!</p>
      <a (click)="navigateToDashboard()" class="btn">Join Now</a>
    </div>
  </div>

  <div class="other-content">
    <div class="info" id="learn-more">
      <h2> What is BOB?</h2>
      <p>BOB is a platform that allows users to seek help in their respective field. Users can post their queries and
        other users can answer them. Users can also post their own answers to other users' queries. Users can also
        upvote/downvote answers and queries.</p>
      
      <h2><img src="assets/header.png" alt="Image 2"> How to use BOB?</h2>
      <p>Users can register themselves on the platform and then login to their account. After logging in, users can
        post their queries and answer other users' queries. Users can also upvote/downvote answers and queries.</p>
  
      <h2><img src="assets/header.png" alt="Image 3"> How to contact us?</h2>
      <p>For any queries, contact us at <a href="mailto:info@bob.com">info@bob.com</a></p>
  
      <h2><img src="assets/header.png" alt="Image 4"> How to report a bug?</h2>
      <p>For any bugs, report us at <a href="https://www.facebook.com">facebook.com</a></p>
      
      <h2><img src="assets/header.png" alt="Image 5"> How to contribute?</h2>
    </div>
  </div>
  
</ion-content>