ion-content.not-padding {
    padding: 0;
}

section.hero {
    padding: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.hero-text {
    max-width: 100%;
    text-align: center;
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
}

.hero-img {
    max-width: 100%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 767px) {
    section.hero {
    flex-direction: column;
    padding: 20px 0;
    }

    .hero-text {
        text-align: center;

        h5 {
            font-size: 16px;
        }

        h4 {
            font-size: 20px;
        }

        h1 {
            font-size: 28px;
        }

        p {
            font-size: 14px;
            margin: 8px 0;
        }

        a {
            margin-top: 15px;
            cursor: pointer;
        }
    }

    .hero-img {
        max-width: 100%;
        margin-top: 20px;
    }
}


footer {
    background-color: #6096b8;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-content p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .socials {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .socials li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .socials a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .socials a:hover {
    color: #007bff;
  }
  
  .footer-bottom {
    // background-color: #222;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 14px;
    color: #fff;
  }

  .ion-text-center {
    text-align: center;
    font-size: xx-large;
    // text-underline-position: below;
  }

  .card-img-top {
    height: 200px;
    width: 100%;
  }
  
  .card {
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
  
    &:hover {
      color: white;
    }
  
    &::before {
      content: "";
      position: absolute;
      left: -100%;
      top: 0%;
      background: #474af0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      z-index: -1;
    }
  
    &:hover::before {
      left: 0%;
      color: white;
    }
  }
  
  .container-fluid {
    background-position: center;
    background-size: cover;
  }
  

  