<ion-header>
  <ion-toolbar>
    <ion-title slot="start">BOB</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/register" routerLinkActive="active">Register</ion-button>
      <ion-button routerLink="/login" routerLinkActive="active">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="no-padding">
  <div class="outer-wrapper">
    <div class="top-wrapper">
      <div class="top-inner">
        <h2>SLOGAN or MOTTO</h2>
        <p>content here...............</p>
        <ion-button routerLink="/home">JOIN NOW!</ion-button>
      </div>
    </div>
    <div class="bottom-wrapper">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let arr of [1,2,3,4]">
            <ion-card>
              <ion-card-content>
                content here....
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>
  <h6>copyright @ BOB</h6>
</ion-footer>