 <div class="login">
	<img src="assets/svg/login.png" alt="image" class="login__bg">

	<form [formGroup]="loginForm" (submit)="login()" class="login__form" [ngClass]="getCurrentMode() === 'dark' ? 'dark-mode' : 'light-mode'">
	   <h1 class="login__title">Login</h1>

	   <div class="login__inputs">
		<div class="login-input-container">
		  <ion-label>Email*</ion-label>
		  <div class="login__box">
			 <input type="email" placeholder="Enter your email" formControlName="email" required class="login__input">
			 <i class="ri-mail-fill"></i>
		  </div>
		</div>

		<div class="login-input-container">
		  <ion-label>Password*</ion-label>
		  <div class="login__box">
			 <input type="password" placeholder="Enter your password" formControlName="password" required class="login__input">
			 <i class="ri-lock-2-fill"></i>
		  </div>
		</div>
	   </div>

	   <div class="forgot">
		  <a routerLink="/study-material">Forgot Password?</a>
	   </div>
	   <br>

	   <ion-button id="loginButton" expand="block" type="submit">Login</ion-button>

	   <div class="button-container">
		<div class="division-section">
		  <div class="line"></div>
		  <div class="or">OR</div>
		  <div class="line"></div>
		</div>
		<ion-button class="loginButton" expand="block" class="white-button">
		  <ion-icon name="logo-google" style="padding-right:5%;"></ion-icon>
		  <ion-text>Continue with Google</ion-text>
		</ion-button>
	  </div>
	  <br>
	   <div class="login__register">
		  Don't have an account? <a routerLink="/register">Register</a>
	   </div>
	</form>
 </div>