<ion-content [fullscreen]="true" class="not-padding register-page">
  
	<section>
	  <div class="imgBx">
		<ion-img src="assets/svg/register.png"></ion-img>
	  </div>
	  <div class="contentBx">
		<div class="formBx">
		  <h2>Log In</h2>
		  <form [formGroup]="loginForm" (ngSubmit)="login()">
			<ion-item class="input-item">
				<ion-label position="floating">Email</ion-label>
				<ion-input 
					type="email"
					name="email"
					formControlName="email"
					required
				></ion-input>
			</ion-item>
			<ion-item class="input-item">
				<ion-label position="floating">password?</ion-label>
				<ion-input 
					type="password"
					name="password"
					formControlName="password"
					required
				></ion-input>
			</ion-item>

			<ion-button expand="block" class="auth-button" type="submit">
				Login
			</ion-button>
		  </form>
		  <div class="other-login-options">
			<h3>Log In with social media</h3>
			<ul class="sci">
				<li><a routerLink="/home/dashboard"><ion-img src="assets/icon/facebook.png"></ion-img></a></li>
				<li><a routerLink="/home/dashboard"><ion-img src="assets/icon/twitter.png"></ion-img></a></li>
				<li><a routerLink="/home/dashboard"><ion-img src="assets/icon/instagram.png"></ion-img></a></li>
				<li><a routerLink="/home/dashboard"><ion-img src="assets/icon/google.png"></ion-img></a></li>
			</ul>
		  </div>
		</div>    
	  </div>
	</section>
  </ion-content>