/* study-material.page.scss */

ion-content {
    --background: #f5f5f5; /* Background color for the content area */
  }
  
  ion-header {
    --background: #1976D2; /* Background color for the header */
    --ion-color-primary: #fff; /* Text color for the header title */
  }
  
  ion-title {
    font-size: 24px; /* Font size for the header title */
  }
  
  ion-item {
    /* Add padding to the item */
    padding: 16px;
    /* Set a border to separate items */
    border-bottom: 1px solid #ccc;
  }
  
  /* Style the h2 element (module code) */
  ion-item h2 {
    font-size: 12px; /* Font size for the h2 element (module code) */
    font-weight: bold; /* Make it bold */
    margin-bottom: 8px; /* Add spacing below the h2 element */
  }
  
  /* Style the p element (module description) */
  ion-item p {
    font-size: 16px; /* Font size for the p element (module description) */
    color: #555; /* Text color for the p element (module description) */
    margin-top: 8px; /* Add spacing above the p element */
  }
  
  /* Style the ion-card for each module */
  ion-card {
    /* Add a shadow to the cards */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* Set card background color */
    background-color: #fff;
    /* Add spacing between cards */
    margin-bottom: 16px;
    //size of the card
    width: 100%;
  }
  
  /* Center the card content */
  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .center_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
  }

  ion-col{
   width: 100px;
  }