/* Style for the cards */
.clickup-card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  margin: 10px;
  padding: 16px;
  background-color: #3498db; /* Blue background color */
  color: #ffffff; /* White text color */
  transition: transform 0.2s; /* Smooth hover transition */
}

/* Hover effect */
.clickup-card:hover {
  transform: translateY(-4px);
}

/* Style for the card title */
.clickup-card ion-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Style for the card description */
.clickup-card ion-card-content p {
  font-size: 14px;
}

/* Add spacing between cards on larger screens */
@media (min-width: 768px) {
  .clickup-card {
    margin: 10px 10px 0;
  }
}

/* Optional: Add a subtle border on hover for better feedback */
.clickup-card:hover {
  border-color: #3498db; /* Blue border color on hover */
}
ion-item{
  --background: #798b97;
  --color: #ffffff;
}
ion-list{
  --background: #798b97;
  --color: #ffffff;
  background-color: #3498db; /* Blue background color */
}

footer {
  background-color: #6096b8;
  color: #fff;
  padding: 40px 0;
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.footer-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-content p {
  font-size: 16px;
  line-height: 1.5;
}

.socials {
  list-style: none;
  padding: 10;
  margin-top: 0;
  // font-size: small;
}

.socials li {
  display: inline-block;
  margin-right: 10px;
  font-size: large;
  
}

.socials a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

.socials a:hover {
  color: #030609;
}


.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  color: #fff;
}

.ion-text-center {
  text-align: center;
  font-size: xx-large;
}