<ion-content [fullscreen]="true">
  <div class="center_content">
    <ion-row>
      <!-- Card 1: NOTES -->
      <ion-col size-xs="12" size-md="4">
        <ion-card class="clickup-card">
          <ion-card-header>
            <ion-card-title>NOTES</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>

              <ion-item *ngFor="let noteModule of noteModules">
                <ion-card-header>
                  <h2>{{ noteModule.name }}</h2>
                  <p>{{ noteModule.description }}</p>
                </ion-card-header>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Card 2: EXAM PAPERS -->
      <ion-col size-xs="12" size-md="4">
        <ion-card class="clickup-card">
          <ion-card-header>
            <ion-card-title>EXAM PAPERS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let examModule of examModules">
                <ion-card-header>
                  <h2>{{ examModule.name }}</h2>
                  <p>{{ examModule.description }}</p>
                </ion-card-header>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Card 3: BOOKS -->
      <ion-col size-xs="12" size-md="4">
        <ion-card class="clickup-card">
          <ion-card-header>
            <ion-card-title>BOOKS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let bookModule of bookModules">
                <ion-card-header>
                  <h2>{{ bookModule.name }}</h2>
                  <p>{{ bookModule.description }}</p>
                </ion-card-header>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <footer>
    <div class="footer-content">
      <h3>BOB</h3>
      <p>BOB is a platform that aims to provide a seamless learning experience for students. 
        It is a one-stop-shop for all your learning needs, including study materials, study groups, 
        tutors, and support. BOB is your companion in your learning journey, empowering you to 
        achieve your goals and stand out.</p>
        <ul class="socials">
          <li>
            <a href="https://www.facebook.com/">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com/">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>
        </ul>        
    </div>
    <div class="footer-bottom">
      <p>© BOB 2023 | Designed by BOB Team</p>
    </div>
  </footer>

</ion-content>
