<ion-content>
  <div class="schedule-outer-wrapper">
   <div class="schedule-header">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-item lines="none" class="transparent-item">
              <ion-avatar slot="start">
                <ion-img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" ></ion-img>
              </ion-avatar>
              <ion-text>USERNAME</ion-text>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item lines="none" class="transparent-item">
              <span class="header-item date-item">
                <ion-text>{{selectedDateText}}</ion-text>
                <ion-buttons>
                  <ion-button (click)="handleCustomButton('prev')">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                  </ion-button>
                  <ion-button (click)="handleCustomButton('next')">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-button class="custom-button" (click)="handleCustomButton('today')">Today </ion-button>
              </span>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item lines="none" class="transparent-item" style="width: fit-content;">
              <span class="header-item align-end-item">
                <ion-select interface="popover">
                  <ion-select-option value="dayGridMonth">Month</ion-select-option>
                  <ion-select-option value="timeGridWeek">Week</ion-select-option>
                </ion-select>
              </span>
            </ion-item>                   
          </ion-col>
          <ion-col size="2">
            <ion-item lines="none" class="transparent-item">
              <span class="header-item">
                <ion-fab class="transparent-item">
                  <ion-fab-button (click)="openEventCreationModal()">
                    <ion-icon name="add-outline"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="schedule-content">
      <div class="calendar-container">
        <full-calendar
          #calendar
          [options]="calendarOptions"
        ></full-calendar>
      </div>
    </div>
    <!-- <div class="footer">
      <app-footer></app-footer>
    </div> -->
  </div>
</ion-content>