<ion-header>
  <ion-toolbar>
    <ion-title>View Discussion</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="custom-modal-content not-padding" *ngIf="!isLoading" >
  <div class="flex-container">
    <div class="flex-item calendar">
        <ion-card class="demo-inline-calendar-card" >
          <ion-card-header>
            <ion-card-title>
              <img src= '{{ material.img }}' style="width: 100%; height: 100%; object-fit: contain;">
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>{{ material.question }}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      <br>
      <ion-card class="demo-inline-calendar-card">
        <ion-card-header>
          <ion-card-title>Your response</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>
            <ion-textarea placeholder="Type your response here"></ion-textarea>
            <br>
            <ion-button (click)="submitAnswer()">Submit</ion-button>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="flex-item subject">
      <ion-card class="demo-inline-calendar-card" *ngFor="let subject of defaultAnswers" style="margin-bottom: 10px;">
        <ion-card-header>
          <ion-card-title>{{ subject.author }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>{{ subject.answer }}</ion-card-subtitle>
        </ion-card-content>
      </ion-card>     
    </div>
  </div>
 
</ion-content>
