.outer-wrapper {
   
}
  
.left-side {
  width: 70%;
  float: left;
}

.img-container {

}

.quick-access-card {
  height: fit-content;
}

.notifications-card {

}

.right-side {
  float: left;
  width: 30%;
  height: 100%;
}

.calendar-container {
  width: fit-content;
  margin: auto;
}

.events-container {
  height: 100%;
}

.events-card {

}
  