<ion-content [fullscreen]="true" class="not-padding">
  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="create-join">
      <ion-label>Create/Join</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ongoing-upcoming">
      <ion-label>Ongoing/Upcoming</ion-label>
    </ion-segment-button>
    <ion-segment-button value="study-sessions">
      <ion-label>Virtual Study Sessions</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Tab 1 Content: Create/Join -->
  <div *ngIf="selectedTab === 'create-join'">
    <br>
    <!-- <ion-button (click)="createGroup()" expand="block">Create Group</ion-button> -->
    <!-- <ion-fab click="createGroup"></ion-fab> -->
    <div class="container">
      <div class="tab" *ngFor="let group of createJoinData; let i = index">
        <input type="radio" name="acc" [id]="'acc' + i">
        <label [for]="'acc' + i">
          <h2>0{{ i + 1 }}</h2>
          <h3>{{ group.groupName }}</h3>
        </label>
        <div class="content">
          <p>{{ group.description }}</p>
          <p>Members: {{ group.members }}</p>
        </div>
      </div> 
    </div>
    <br>

  </div>

  <!-- Tab 2 Content: Ongoing/Upcoming -->
  <div *ngIf="selectedTab === 'ongoing-upcoming'">
    <br>
    <div class="container">
      <div class="tab" *ngFor="let event of ongoingUpcomingData; let i = index">
        <input type="radio" name="acc" [id]="'acc' + i">
        <label [for]="'acc' + i">
          <h2>0{{ i + 1 }}</h2>
          <h3>{{ event.eventName }}</h3>
        </label>
        <div class="content">
          <p>Date: {{ event.date }}</p>
          <p>Location: {{ event.location }}</p>
        </div>
      </div>
    </div>
    <br>
  </div>

  <!-- Tab 3 Content: Virtual Study Sessions -->
  <div *ngIf="selectedTab === 'study-sessions'">
    <br>
    <div class="container">
      <div class="tab" *ngFor="let session of studySessionsData; let i = index">
        <input type="radio" name="acc" [id]="'acc' + i">
        <label [for]="'acc' + i">
          <h2>0{{ i + 1 }}</h2>
          <h3>{{ session.sessionName }}</h3>
        </label>
        <div class="content">
          <p>Date: {{ session.date }}</p>
          <ion-button [href]="session.link" target="_blank" expand="full">Visit Link</ion-button>
        </div>
      </div>
    </div>
    <br>
  </div>

  <!-- <div class="footer">
    <app-footer></app-footer>
  </div> -->

</ion-content>