<ion-header>
  <ion-toolbar>
    <ion-title>Create Event</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="8">
        <ion-label>Title</ion-label>
        <ion-input type="text" placeholder="Enter event title" [(ngModel)]="eventTitle" required></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="8">
        <ion-label>Description</ion-label>
        <ion-input type="text" placeholder="Enter event title" [(ngModel)]="eventDescription" required></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="6" size-lg="4">
        <ion-label>Start Date</ion-label>
        <ion-input type="date" [(ngModel)]="eventStartDate" required></ion-input>
      </ion-col>
      <ion-col size="6" size-lg="4">
        <ion-label>Time</ion-label>
        <ion-input type="time" [(ngModel)]="eventStartTime" required></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="6" size-lg="4">
        <ion-label>End Date</ion-label>
        <ion-input type="date" [(ngModel)]="eventEndDate" required></ion-input>
      </ion-col>
      <ion-col size="6" size-lg="4">
        <ion-label>Time</ion-label>
        <ion-input type="time" [(ngModel)]="eventEndTime" required></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="8">
        <ion-button expand="block" [disabled]="!ifFullyFilled()" (click)="createEvent()" class="custom-button">Create Event</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
