.schedule-header {
  margin-top: 50px;
  background-color: gray;
}

ion-col {
  box-sizing: border-box;
}

ion-grid{
  padding: 0px;
}

.header-item {
  display: flex;
  align-items: center;
}

.date-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.align-end-item {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

ion-fab-button {
  max-width: 30px;
  max-height: 30px;
}

.calendar-container{
 width: 70%;
//  height: var(width);
 float: left;
}

// ion-content {
//   background-image: url('/assets/education_icon.png');
//   background-size:auto;
//   background-repeat: no-repeat;
//   background-position: center; 
//   background-color: #f0f0f0;
//   --background: red;
// }

.events-wrapper {
  position: relative;
  padding: 10px;
  width: 30%;
  height: 100%;
  float: left;
  .inner-events-wrapper {
    width: fit-content;
    margin: auto;
    .event-cards {
      display: inline-block;
      min-width: 100px;
      margin: 0px;
      margin-right: 10px;

    }
  }

  .event-view {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  }

  .hide-event-view {
    display: none;
  }
}

@media screen and (max-width:500px) {
  .calendar-container, .events-wrapper {
    width: 100%;
  }
}