<ion-header>
  <ion-toolbar>
    <ion-title>BOB</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/register" routerLinkActive="active">Register</ion-button>
      <ion-button routerLink="/login" routerLinkActive="active">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="not-padding">
  <section class="hero">
    <div class="hero-img">
      <img src="assets/reading.png" alt="Hero Image">
    </div>

    <div class="hero-text">
      <h1>BOB - Your personal assistant with education</h1>
      <p>Join thousands of students as you do your studies <br> get great marks and become the best version of yourself</p>
      <ion-button class="custom-button" (click)="navigateToDashboard()">JOIN NOW</ion-button>
    </div>
  </section>

  
  <ion-grid class="ion-text-center">
    <br>
    <div>
      <ion-title class="ion-text-center">
        <h1>
          Our Services
        </h1>
      </ion-title>
    </div>

    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/book.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Study Material</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Our aim is to provide seamless access to study materials, including notes and presentations,
         while simplifying organization. A search bar ensures easy 
        location of materials, optimizing your learning experience for efficiency and convenience.
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/teamwork.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Study Groups</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Our Study Groups Page embodies our platform's collaborative spirit. You can create, manage, and 
            tailor study groups to your needs with powerful tools. Discover and join existing groups 
            effortlessly through the search function.  
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/tutor.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Alumni/Tutor Page</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            The Alumni/Tutor Page serves as your knowledge hub, featuring reputable tutors with detailed 
        profiles, qualifications, expertise, and student reviews. It streamlines tutor discovery and 
        facilitates personalized sessions, 
        enriching your learning journey.
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/help.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Support & Help</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            The Support & Help Page is your dependable resource for assistance and problem-solving within 
        our platform. It offers solutions to common issues, guidance, and FAQs. You can easily submit 
        your specific issues through a user-friendly form. 
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="footer">
    <app-footer></app-footer>
  </div>
  
</ion-content>

<!-- 
  <ion-content [fullscreen]="true">
  <div class="outer-container"> 
    <div class="top-container">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-xl="6">
          <h1>Learn more about us. Get acquainted with our team.</h1>
            
        </ion-col>
      </ion-row>
    </div>

    
    <ion-grid class="ion-text-center">
      <ion-row>
      <ion-col size="12">
        <div class="content-header">
          <h1>Our Team</h1>
        </div>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4">
          <div class="card-container ion-padding">
            <ion-img src="assets/svg/alumni1.jpg"></ion-img>
            <div>
              <h1>Angela Mathebula</h1>
            </div>
            <div>
              <div>
                <ion-chip color="primary">
                  <ion-label color="primary">Founder</ion-label>
                </ion-chip>
              </div>
            </div>
          </div>
        </ion-col>
    
        <ion-col size="12" size-md="6" size-lg="4">
          <div class="card-container ion-padding">
            <ion-img src="assets/svg/alumni3.jpg"></ion-img>
            <div>
              <h1>Brandon James</h1>
            </div>
            <div>
              <div>
                <ion-chip color="primary">
                  <ion-label color="primary">Marketing Director</ion-label>
                </ion-chip>
              </div>
            </div>
          </div>
        </ion-col>
    
        <ion-col size="12" size-md="6" size-lg="4">
          <div class="card-container ion-padding">
            <ion-img src="assets/svg/alumni2.jpg"></ion-img>
            <div>
              <h1>Menzi Dabula</h1>
            </div>
            <div>
              <div>
                <ion-chip color="primary">
                  <ion-label color="primary">Treasurer</ion-label>
                </ion-chip>
              </div>
            </div>
          </div>
        </ion-col>
    
      </ion-row>
    </ion-grid>
  </div>

 
  <ion-grid class="ion-text-center" style="margin-top: 40px">
    <ion-row>
      <ion-col size="12">
        <div class="content-header ion-padding">
          <h1>About Us</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="card-container ion-padding">
          <ion-img src="assets/svg/about.png"></ion-img>
          <div>
            <h1>Who Are We</h1>
          </div>
          <div>
            At BOB, we believe that education should be accessible, engaging, and personalized for every student. Our journey began 
            with a vision to transform the way students learn and connect in today's dynamic educational landscape. With a team of 
            passionate educators, technologists, and innovators, we created BOB—a comprehensive and user-friendly platform dedicated 
            to empowering students. We understand the diverse needs of learners, 
            and our mission is to provide them with the tools, resources, and support they need to succeed academically and beyond.
          </div>
        </div>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="card-container ion-padding">
          <ion-img src="assets/svg/binoculars.png"></ion-img>
          <div>
            <h1>Our Vision</h1>
          </div>
          <div>
            Our vision at BOB is to revolutionize education by providing a platform that fosters meaningful connections, promotes collaborative 
            learning, and offers personalized experiences for students of all ages and backgrounds. We are committed to breaking down barriers 
            to learning, ensuring that knowledge is accessible to everyone, and inspiring a lifelong love of learning. Through innovative 
            technology and a deep understanding of educational needs, 
            we strive to empower students to reach their full potential and become lifelong learners and contributors to society.  
          </div>
        </div>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="card-container ion-padding">
          <ion-img src="assets/svg/goal.png"></ion-img>
          <div>
            <h1>Our Goal</h1>
          </div>
          <div >
            Our goal at BOB is to establish an online educational ecosystem that sets a new standard for excellence in learning. 
            We aim to connect students through cutting-edge collaboration features, offer personalized tutoring to address individual needs, 
            facilitate virtual study sessions that enhance learning outcomes, and provide effective study schedule management tools. 
            We envision a world where students have the resources and support they need to thrive academically.Our ultimate aim is to 
            empower the next generation of leaders,and innovators.
          </div>
        </div>
      </ion-col>
  
    </ion-row>
  </ion-grid>

  <div class="footer">
    <app-footer></app-footer>
  </div>
  
</ion-content>
 -->