footer {
    background-color: #6096b8;
    color: #fff;
    padding: 10px 0;
  }
  
  .footer-content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-content p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .socials {
    list-style: none;
    padding: 0;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
  }
  
  .socials li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .socials {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    // transition: color 0.3s;
  }
  
  // .socials a:hover {
  //   color: #007bff;
  // }
  
  .footer-bottom {
    // background-color: #222;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 14px;
    color: #fff;
  }

  .ion-text-center {
    text-align: center;
    font-size: xx-large;
    // text-underline-position: below;
  }

  .card-img-top {
    height: 200px;
    width: 100%;
  }
  
  .card {
    z-index: 1;
    // overflow: hidden;
    // transition: 0.5s;
  
    // &:hover {
    //   color: white;
    // }
  
    &::before {
      content: "";
      position: absolute;
      left: -100%;
      top: 0%;
      // background: #474af0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      z-index: -1;
    }
  
    // &:hover::before {
    //   left: 0%;
    //   color: white;
    // }
  }