<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <div>
      <ion-title class="ion-text-center">Our Team</ion-title>
    </div>

    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Angela Mathebula</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <ion-chip color="primary">
                <ion-label color="primary">Founder</ion-label>
              </ion-chip>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni3.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Brandon James</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <ion-chip color="primary">
                <ion-label color="primary">Marketing Director</ion-label>
              </ion-chip>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni2.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Menzi Dabula</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <ion-chip color="primary">
                <ion-label color="primary">Treasurer</ion-label>
              </ion-chip>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-text-center">
    <div>
      <ion-title class="ion-text-center">About Us</ion-title>
    </div>

    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/about.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Who Are We</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            At BOB, we believe that education should be accessible, engaging, and personalized for every student. Our journey began 
            with a vision to transform the way students learn and connect in today's dynamic educational landscape. With a team of 
            passionate educators, technologists, and innovators, we created BOB—a comprehensive and user-friendly platform dedicated 
            to empowering students. We understand the diverse needs of learners, 
            and our mission is to provide them with the tools, resources, and support they need to succeed academically and beyond.
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/binoculars.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Our Vision</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Our vision at BOB is to revolutionize education by providing a platform that fosters meaningful connections, promotes collaborative 
            learning, and offers personalized experiences for students of all ages and backgrounds. We are committed to breaking down barriers 
            to learning, ensuring that knowledge is accessible to everyone, and inspiring a lifelong love of learning. Through innovative 
            technology and a deep understanding of educational needs, 
            we strive to empower students to reach their full potential and become lifelong learners and contributors to society.  
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/goal.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Our Goal</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Our goal at BOB is to establish an online educational ecosystem that sets a new standard for excellence in learning. 
            We aim to connect students through cutting-edge collaboration features, offer personalized tutoring to address individual needs, 
            facilitate virtual study sessions that enhance learning outcomes, and provide effective study schedule management tools. 
            We envision a world where students have the resources and support they need to thrive academically.Our ultimate aim is to 
            empower the next generation of leaders,and innovators.
          </ion-card-content>
        </ion-card>
      </ion-col>
  
    </ion-row>
  </ion-grid>

  <div class="footer">
    <app-footer></app-footer>
  </div>
  
</ion-content>