<ion-content [fullscreen]="true">
  <h1 style="text-align: center;">Our Team</h1>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3" *ngFor="let tutor of tutorInfo">
        <ion-card class="ion-padding">
          <ion-img src= '{{ tutor.img }}'></ion-img>
          <ion-card-header>
            <ion-card-title>{{ tutor.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div style="display: flex; flex-wrap: wrap; justify-content: center;">
              <div *ngFor="let subject of tutor.subjects">
                <ion-chip color="primary">
                  <ion-label color="primary">{{ subject }}</ion-label>
                </ion-chip>
              </div>
            </div>  
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-text-center">
    <br>
    <div>
      <ion-title class="ion-text-center">
        <h1>About Us</h1>
      </ion-title>
    </div>


    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3" *ngFor="let info of aboutInfo">
        <ion-card class="ion-padding">
          <ion-img src="{{ info.image }}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ info.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ info.description }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>
  
</ion-content>