<ion-content [fullscreen]="true">
  <div class="outer-container"> 
    <div class="top-container">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-xl="6">
          <h1>Learn more about us. Get acquainted with our team.</h1>
            <!-- <ion-searchbar placeholder="search"></ion-searchbar>
            <div class="suggested-questions">
              <div class="questions">
                <ion-text>question here....</ion-text>
              </div>
            </div> -->
        </ion-col>
      </ion-row>
    </div>

    
    <ion-grid class="ion-text-center">
      <ion-row>
      <ion-col size="12">
        <div class="content-header">
          <h1>Our Team</h1>
        </div>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4">
          <div class="card-container ion-padding">
            <ion-img src="assets/svg/alumni1.jpg"></ion-img>
            <div>
              <h1>Angela Mathebula</h1>
            </div>
            <div>
              <div>
                <ion-chip color="primary">
                  <ion-label color="primary">Founder</ion-label>
                </ion-chip>
              </div>
            </div>
          </div>
        </ion-col>
    
        <ion-col size="12" size-md="6" size-lg="4">
          <div class="card-container ion-padding">
            <ion-img src="assets/svg/alumni3.jpg"></ion-img>
            <div>
              <h1>Brandon James</h1>
            </div>
            <div>
              <div>
                <ion-chip color="primary">
                  <ion-label color="primary">Marketing Director</ion-label>
                </ion-chip>
              </div>
            </div>
          </div>
        </ion-col>
    
        <ion-col size="12" size-md="6" size-lg="4">
          <div class="card-container ion-padding">
            <ion-img src="assets/svg/alumni2.jpg"></ion-img>
            <div>
              <h1>Menzi Dabula</h1>
            </div>
            <div>
              <div>
                <ion-chip color="primary">
                  <ion-label color="primary">Treasurer</ion-label>
                </ion-chip>
              </div>
            </div>
          </div>
        </ion-col>
    
      </ion-row>
    </ion-grid>
  </div>

 
  <ion-grid class="ion-text-center" style="margin-top: 40px">
    <ion-row>
      <ion-col size="12">
        <div class="content-header ion-padding">
          <h1>About Us</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="card-container ion-padding">
          <ion-img src="assets/svg/about.png"></ion-img>
          <div>
            <h1>Who Are We</h1>
          </div>
          <div>
            At BOB, we believe that education should be accessible, engaging, and personalized for every student. Our journey began 
            with a vision to transform the way students learn and connect in today's dynamic educational landscape. With a team of 
            passionate educators, technologists, and innovators, we created BOB—a comprehensive and user-friendly platform dedicated 
            to empowering students. We understand the diverse needs of learners, 
            and our mission is to provide them with the tools, resources, and support they need to succeed academically and beyond.
          </div>
        </div>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="card-container ion-padding">
          <ion-img src="assets/svg/binoculars.png"></ion-img>
          <div>
            <h1>Our Vision</h1>
          </div>
          <div>
            Our vision at BOB is to revolutionize education by providing a platform that fosters meaningful connections, promotes collaborative 
            learning, and offers personalized experiences for students of all ages and backgrounds. We are committed to breaking down barriers 
            to learning, ensuring that knowledge is accessible to everyone, and inspiring a lifelong love of learning. Through innovative 
            technology and a deep understanding of educational needs, 
            we strive to empower students to reach their full potential and become lifelong learners and contributors to society.  
          </div>
        </div>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="card-container ion-padding">
          <ion-img src="assets/svg/goal.png"></ion-img>
          <div>
            <h1>Our Goal</h1>
          </div>
          <div>
            Our goal at BOB is to establish an online educational ecosystem that sets a new standard for excellence in learning. 
            We aim to connect students through cutting-edge collaboration features, offer personalized tutoring to address individual needs, 
            facilitate virtual study sessions that enhance learning outcomes, and provide effective study schedule management tools. 
            We envision a world where students have the resources and support they need to thrive academically.Our ultimate aim is to 
            empower the next generation of leaders,and innovators.
          </div>
        </div>
      </ion-col>
  
    </ion-row>
  </ion-grid>

  <div class="footer">
    <app-footer></app-footer>
  </div>
  
</ion-content>