.box-form {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  overflow: auto;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
  }
  
  .right{
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .right, .left {
    width: 100%;
    margin: auto;
  }
}

.box-form .left {
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/BG5.jpg");
  overflow: hidden;
}

.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}


.box-form .left .overlay h1 {
  font-size: 10vmax;
  line-height: 1;
  font-weight: 900;
}

.social-buttons-header {
  margin-top: 30px;
  font-weight: 900;
} 

.social-buttons-header {
  margin-top: 30px;
  font-weight: 900;
}

.social-buttons-container {
  text-align: center;
  ion-buttons {
    width: fit-content;
    margin: auto;
  }
}

.box-form .right {
  padding: 40px;
  overflow: hidden;
}

.right-header {
  font-size: 6vmax;
}

.box-form .right p {
  font-size: 14px;
  color: #B0B3B9;
}

.login-router {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.custom-button {
  float: right;
  --background: linear-gradient(135deg, #B0E0E6 10%, #006699 100%);
  --color: #fff;
  --box-shadow: 0px 4px 20px 0px #042d4657;
  --font: 16px;
  --border-radius: 50px;
}


.custom-checkbox {
  font-family: FontAwesome;
  content: ' \f00c';
  color: #fff;
  cursor: pointer;
  --background: #70F570;
}

label input[type="checkbox"] {
  display: none;
}