<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3" *ngFor="let tutor of tutorInfo">
        <ion-card class="ion-padding">
          <ion-img src= '{{ tutor.img }}'></ion-img>
          <ion-card-header>
            <ion-card-title>{{ tutor.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div style="display: flex; flex-wrap: wrap;">
              <div *ngFor="let subject of tutor.subjects">
                <ion-chip color="primary">
                  <ion-label color="primary">{{ subject }}</ion-label>
                </ion-chip>
              </div>
            </div>
            <br>
            <div>
              {{ tutor.description }}
            </div>
            <br>
            <div>
              <ion-button color="primary" expand="block" (click)="setOpen(true)">BOOK ME</ion-button>
              <ion-modal [isOpen]="isModalOpen">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Book A Session</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="setOpen(false)">Close</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                      
                    
                  </ion-content>
                </ng-template>
              </ion-modal>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="footer">
    <app-footer></app-footer>
  </div>
  
</ion-content>