<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Angela Mathebula</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <ion-chip color="primary">
                <ion-label>Biology</ion-label>
              </ion-chip>
              <ion-chip color="primary">
                <ion-label>Anatomy</ion-label>
              </ion-chip>
              <ion-chip color="primary">
                <ion-label>Mathematics</ion-label>
              </ion-chip>
            </div>
            <br>
            <div>
              A final year medical student at the University of Cape Town.
               I am passionate about teaching and helping others. 
               I have been tutoring for 3 years now and I have helped many students achieve their goals.
              I am a very patient person and I am willing to go the extra mile to help my students.
              I am looking forward to working with you.
            </div>
            <br>
            <div>
              <ion-button color="primary" expand="block" >BOOK ME</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni2.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Menzi Dabula</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- add chips for -->
            <div>
              <ion-chip color="primary">
                <ion-label>English</ion-label>
              </ion-chip>
              <ion-chip color="primary">
                <ion-label>Swati</ion-label>
              </ion-chip>
              <ion-chip color="primary">
                <ion-label>Mathematics</ion-label>
              </ion-chip>
            </div>
            <br>
            <div>
              I am a graduate student at the University of Pretoria with a Bachelor of Education. 
              I rarely struggle with my academics and I am willing to help others achieve the same. 
              I am a very patient person and I am willing to go the extra mile to help my students. 
              I am looking forward to working with you.
            </div>
            <br>
            <div>
              <ion-button color="primary" expand="block" style="color: antiquewhite;">BOOK ME</ion-button>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni3.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Brandon James</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <ion-chip color="primary">
                <ion-label>Computer Literacy</ion-label>
              </ion-chip>
              <ion-chip color="primary">
                <ion-label>Programming</ion-label>
              </ion-chip>
              <ion-chip color="primary">
                <ion-label>Mathematics</ion-label>
              </ion-chip>
            </div>

            <br>
            <div>
              A final student at University of Pretoria, busy with Bachelor of Science in Computer Science.
              Have been tutoring for 1 year, I am here to help you get the best results you can get.
              I am a very patient person and I am willing to go the extra mile to help my students. 
              I am looking forward to working with you.
            </div>
            <br>
            <div>
              <ion-button color="primary" expand="block" >BOOK ME</ion-button>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="ion-padding">
          <ion-img src="assets/svg/alumni4.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>David Kaula</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <ion-chip color="primary">
                <ion-label>Law</ion-label>
              </ion-chip>
              <ion-chip color="primary">
                <ion-label>English</ion-label>
              </ion-chip>
              <ion-chip color="primary">
                <ion-label>Mathematics</ion-label>
              </ion-chip>
            </div>

            <br>
            <div>
              A final year student at University of Fort Hare, busy with Bachelor of Laws.
              Have been tutoring for 2 year, I love helping others, and it brings a smile to my face.
              I am a very patient person and I am willing to go the extra mile to help my students. 
              I am looking forward to working with you.
            </div>
            <br>
            <div>
              <ion-button color="primary" expand="block" >BOOK ME</ion-button>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <footer>
    <div class="footer-content">
      <h3>BOB</h3>
      <p>BOB is a platform that aims to provide a seamless learning experience for students. 
        It is a one-stop-shop for all your learning needs, including study materials, study groups, 
        tutors, and support. BOB is your companion in your learning journey, empowering you to 
        achieve your goals and stand out.</p>
        <ul class="socials">
          <li>
            <a href="https://www.facebook.com/">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com/">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>
        </ul>        
    </div>
    <div class="footer-bottom">
      <p>© BOB 2023 | Designed by BOB Team</p>
    </div>
  </footer>
  
</ion-content>