// .material-card {
//   margin: 0px;
//   border-radius: var(--primary-border-radius);
// }

// .filter-container {
//   padding: var(--container-padding);
//   background: var(--background-color);
//   padding: 40px;
//   .custom-row {
//     .input-field-container {
//       border: var(--primary-border-size) solid var(--primary-color-variant);
//       border-radius: var(--primary-border-radius);
//     }
//   }
// }

// .study-material-container {
//   padding: var(--container-padding);
// }
.question-title
{
  font-size: 19px;
  margin-bottom: 10px;
}

.outer-content-container {
  padding: 20px;
}

.card-img-top {
  height: 100px;
  width: 100%;
}

ion-chip {
  pointer-events: none;
}

.card {
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;

  &:hover {
    color: white;
  }

  &::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0%;
    background: #474af0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
  }

  &:hover::before {
    left: 0%;
    color: white;
  }
}

.container-fluid {
  background-position: center;
  background-size: cover;
}

.ion-text-center {
  text-align: center;
  font-size: xx-large;
}

ion-button{
  margin: 0 auto;
  display: block;
  color: #fff;
}

ion-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-card {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  img{
    height: 100px;
    width: 100%;
  }
}

ion-searchbar {
  color: white;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  --border-radius: 10px;
  padding: 0px;
  width: 98%;
  margin: auto;
  margin-top: 10px;
}

ion-content.not-padding {
  padding: 0;
}

section.hero {
  padding: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.hero-text {
  max-width: 100%;
  text-align: center;
}

a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
}

.hero-img {
  max-width: 100%;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 767px) {
  section.hero {
  flex-direction: column;
  padding: 20px 0;
  }

  .hero-text {
      text-align: center;

      h5 {
          font-size: 16px;
      }

      h4 {
          font-size: 20px;
      }

      h1 {
          font-size: 28px;
      }

      p {
          font-size: 14px;
          margin: 8px 0;
      }

      a {
          margin-top: 15px;
          cursor: pointer;
      }
  }

  .hero-img {
      max-width: 100%;
      margin-top: 20px;
  }
}

.card-img-top {
  height: 200px;
  width: 100%;
}

.card {
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;

  &:hover {
    color: white;
  }

  &::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0%;
    background: #474af0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
  }

  &:hover::before {
    left: 0%;
    color: white;
  }
}

.container-fluid {
  background-position: center;
  background-size: cover;
}

.button-full-width
{
  width: 100%;
}

.align-items-center {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;

}