.material-card {
  margin: 0px;
  border-radius: var(--primary-border-radius);
}

.filter-container {
  padding: var(--container-padding);
  .custom-row {
    .input-field-container {
      border: var(--primary-border-size) solid var(--primary-color-variant);
      border-radius: var(--primary-border-radius);
    }
  }
}

.study-material-container {
  padding: var(--container-padding);
}