<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="notes">
      <ion-label>Notes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="exam-papers">
      <ion-label>Exam Papers</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tutorial">
      <ion-label>Tutorial</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Tab 1 Content: Notes -->
  <div *ngIf="selectedTab === 'notes'">
    <br>
    <div class="container">
      <div class="tab" *ngFor="let noteModule of noteModules; let i = index">
        <input type="radio" name="acc" [id]="'acc' + i">
        <label [for]="'acc' + i">
          <h2>0{{ i + 1 }}</h2>
          <h3>{{ noteModule.name }}</h3>
        </label>
        <div class="content">
          <p>{{ noteModule.description }}</p>
          <p>Members: {{ noteModule.members }}</p>
        </div>
      </div>
    </div>
    <br>
  </div>

  <!-- Tab 2 Content: Exam Papers -->
  <div *ngIf="selectedTab === 'exam-papers'">
    <br>
    <div class="container">
      <div class="tab" *ngFor="let examModule of examModules; let i = index">
        <input type="radio" name="acc" [id]="'acc' + i">
        <label [for]="'acc' + i">
          <h2>0{{ i + 1 }}</h2>
          <h3>{{ examModule.name }}</h3>
        </label>
        <div class="content">
          <p>{{ examModule.description }}</p>
          <p>Members: {{ examModule.members }}</p>
        </div>
      </div>
    </div>
    <br>
  </div>

  <!-- Tab 3 Content: tutorial -->
  <div *ngIf="selectedTab === 'tutorial'">
    <br>
    <div class="container">
      <div class="tab" *ngFor="let tutorialModule of tutorialModules; let i = index">
        <input type="radio" name="acc" [id]="'acc' + i">
        <label [for]="'acc' + i">
          <h2>0{{ i + 1 }}</h2>
          <h3>{{ tutorialModule.name }}</h3>
        </label>
        <div class="content">
          <p>{{ tutorialModule.description }}</p>
          <p>Members: {{ tutorialModule.members }}</p>
        </div>
      </div>
    </div>
    <br>
  </div>

  <!-- <div class="footer">
    <app-footer></app-footer>
  </div> -->

</ion-content>