<ion-content [fullscreen]="true">
  <div class="filter-container">
    <ion-grid>
      <ion-row class="custom-row">
        <ion-col size="12" size-lg="3">
          <ion-label>Year</ion-label>
          <ion-item lines="none" class="input-field-container">
            <ion-select interface="popover" [(ngModel)]="selectedYear">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option value="2022">2022</ion-select-option>
              <ion-select-option value="2021">2021</ion-select-option>
              <!-- Add more options as needed -->
            </ion-select>
          </ion-item>
          
        </ion-col>
        <ion-col size="12" size-lg="3">
          <ion-label>Module</ion-label>
          <ion-item lines="none" class="input-field-container">
            <ion-select interface="popover" [(ngModel)]="selectedSubject">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option value="Math">Math</ion-select-option>
              <ion-select-option value="Science">Science</ion-select-option>
              <!-- Add more options as needed -->
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-lg="3">
          <ion-label>Type</ion-label>
          <ion-item lines="none" class="input-field-container">
            <ion-select interface="popover" [(ngModel)]="selectedType">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option value="Book">Book</ion-select-option>
              <ion-select-option value="Video">Video</ion-select-option>
              <!-- Add more options as needed -->
            </ion-select>
          </ion-item>
        </ion-col>
        <!-- Add more filter options here -->
      </ion-row>
    </ion-grid>
  </div>

  <div class="study-material-container">
    <ion-grid>
      <!-- Loop through your study materials and display them -->
      <ion-row *ngFor="let material of filteredMaterials">
        <ion-col size="12" size-sm="6" size-md="4">
          <!-- Display your study material details here -->
          <div class="material-card">
            <h2>{{ material.title }}</h2>
            <p>{{ material.description }}</p>
            <!-- Add more study material details as needed -->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
