h2, ion-text {
  text-align: center;
}

/* Center the search bar horizontally */
.search-container {
  text-align: center;
}

/* Style the input with rounded corners and thicker borders */
input[type="text"] {
  padding: 10px;
  width: 35%;
  border-radius: 10px; /* Adjust the radius as needed */
  border: 2px solid #ccc; /* Increase border-width for thicker borders */
  text-align: center;
}


.support-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px; /* Spacing between divs */
  justify-items: center; /* Center items horizontally within each cell */
}

.support-option {
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

/* Add hover effect for better user experience */
.support-option:hover {
  background-color: #f0f0f0;
}
