h2, ion-text {
  text-align: center;
}

/* Center the search bar horizontally */
.search-container {
  text-align: center;
}

/* Style the input with rounded corners and thicker borders */
input[type="text"] {
  padding: 10px;
  width: 35%;
  border-radius: 10px; /* Adjust the radius as needed */
  border: 2px solid #ccc; /* Increase border-width for thicker borders */
  text-align: center;
}


.support-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px; /* Spacing between divs */
  justify-items: center; /* Center items horizontally within each cell */
}

.support-option {
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

/* Add hover effect for better user experience */
.support-option:hover {
  background-color: #f0f0f0;
}


footer {
  background-color: #6096b8;
  color: #fff;
  padding: 40px 0;
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.footer-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-content p {
  font-size: 16px;
  line-height: 1.5;
}

.socials {
  list-style: none;
  padding: 10;
  margin-top: 0;
  // font-size: small;
}

.socials li {
  display: inline-block;
  margin-right: 10px;
  font-size: large;
  
}

.socials a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

.socials a:hover {
  color: #030609;
}


.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  color: #fff;
}

.ion-text-center {
  text-align: center;
  font-size: xx-large;
}