<footer>
  <div class="footer-content">
    <h3>BOB</h3>
    <p>BOB is a platform that aims to provide a seamless learning experience for students. 
      It is a one-stop-shop for all your learning needs, including study materials, study groups, 
      tutors, and support. BOB is your companion in your learning journey, empowering you to 
      achieve your goals and stand out.</p>
      <ion-buttons class="ion-padding socials">
        <a href="https://www.facebook.com/">
          <ion-button expand="full" fill="clear" class="social-button">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
        </a>

        <a href="https://www.twitter.com/">
          <ion-button expand="full" fill="clear" class="social-button">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
        </a>
        
        <a href="https://www.instagram.com/">
          <ion-button expand="full" fill="clear" class="social-button">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-button>
        </a>
      </ion-buttons>
  </div>
  <div class="footer-bottom">
    <p>© BOB 2023 | Designed by BOB Team</p>
  </div>
</footer>