.top-container {
  padding: 40px;
  text-align: center;
  background: var(--background-color);
  color: white;
  ion-searchbar {
    text-align: start;
  }
  
}

.fqa-container {
  text-align: center;
  padding: var(--container-padding);
  .questions-container {
    padding: var(--container-padding);
  }
}

ion-card {
  height: 100%; 
  width: 100%;

  card-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

  card-subtitle {
    font-size: 16px;
    color: #fff;
  }

  card-content {
    font-size: 14px;
    color: #fff;
  }
}

.suggested-questions {
  .questions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;

    @media (min-width: 576px) {
      flex-direction: row;
    }

    .questions {
      flex: 1;
    }
  }
}
