.top-container {
  padding: 40px;
  text-align: center;
  background: var(--background-color);
  color: white;
  ion-searchbar {
    text-align: start;
  }
  .suggested-questions {
    padding: 20px;
    display: flex;
    justify-content: center;
    .questions {
      padding: 10px;
      border: var(--primary-border-size) solid var(--primary-color-variant);
      width: fit-content;
      border-radius: 5px;
      margin-right: 10px;
    }
  }
}

.bottom-container {
  padding: var(--container-padding);
  .support-container {
    padding: var(--container-padding);
    .support {
      text-align: center;
      padding: var(--container-padding);
      margin-right: var(--container-padding);
      margin-left: var(--container-padding);
      border: var(--primary-border-size) solid var(--primary-color-variant);
      border-radius: 5px;
      cursor: pointer;

      ion-icon {
        color: var(--icon-color);
        font-size: 50px;
      }
    }
  }

  .fqa-container {
    text-align: center;
    padding: var(--container-padding);
    .questions-container {
      padding: var(--container-padding);
    }
  }
}